/* font properties
font-family: 'Crimson Text', serif;
font-family: 'Work Sans', sans-serif;
*/

body{
    background-color: #fff;
}

nav{
    background-color: #006080;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar{
    padding-top: 30px;
    padding-bottom: 60px;
}

h1{
    background-color: #000;
    font-family: 'Crimson Text', serif;
    text-decoration-color: #fff;
}

p{
    font-family: 'Work Sans', sans-serif;
}